.main-menu-remove {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    opacity: 1;
    background: var(--bg-color-11);
    transition: .2s ease;
}
.main-menu-remove.menu-disactive {
    opacity: 0;
    pointer-events: none;
}
.page-blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    animation: modal-background-add .3s forwards;
    background: var(--bg-color-11);
}
.main-disactive {
    transform: translateX(-300px);
}
.main-disactive-menu-acitve {
    transform: translateX(-500px);
}
.page-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    z-index: 200;
    box-sizing: border-box;
}
.page-modal.remove-animation {
    animation: modal-background-remove .3s forwards;
}
.page-modal-block {
    position: fixed;
    left: calc(100% - 500px);
    display: grid;
    grid-template-rows: min-content calc(100% - 53px);
    max-width: 500px;
    height: 100vh;
    width: 100%;
    padding: 0 !important;
    box-shadow: 0px 0px 18px #00000021;
    background: var(--bg-color-1);
    animation: modal-block-add .3s ease forwards;
    transition: transform .2s ease, opacity .2s ease;
    box-sizing: border-box;
    z-index: 200;
}
.page-modal-block.remove-animation {
    animation: modal-block-remove .3s forwards;
}
.page-modal-block.back-main-animation {
    animation: modal-block-back .3s forwards;
}
.page-modal__label--conteiner {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 70px;
    width: 100%;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-1);
    transition: .2s ease;
    z-index: 10;
}
.page-modal__label--conteiner.scrolled {
    box-shadow: 4px 6px 8px -3px #00000011;
}
.page-modal__label {
    font-size: 27px;
    margin: 0 0 0 58px;
    white-space: nowrap;
    max-width: calc(100% - 24px);
}
.page-modal-settings-content {
    max-height: 100%;
}
.page-modal-settings-content__settings-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background: #f4f4f474;
    border: 2px solid #e8e8e862;
    overflow-y: visible;
    overflow-x: hidden;
}
.page-modal-settings-content__settings-menu::-webkit-scrollbar {
    width: 5px;
    background: none;
}
.page-modal-settings-content__settings-menu::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 10px;
}
.settings-content-button {
    padding: 8px;
    border: none;
    border-radius: 15px;
    font-family: "Sourse Sans Pro", sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    background: none;
    color: var(--text-color-1);
    transition: .2s ease;
}
.settings-content-button:hover,
.settings-content-button:focus,
.settings-button:hover  {
    cursor: pointer;
    background: var(--bg-color-12);
}
.settings-content-button:active {
    transform: scale(.95);
}
.page-modal-settings-content {
    padding: 0 12px 12px 12px;
    margin: 0 10px 25px 0;
    overflow-y: visible;
    overflow-x: hidden;  
}
.page-modal-settings-content::-webkit-scrollbar {
    width: 8px;
}
.page-modal-settings-content::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 10px;
}
.page-modal-settings-content::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-color-2);
}
.page-modal-settings-content__settings {
    display: flex;
    flex-direction: column;
    row-gap: 20px;  
}
.settins-content-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Sourse Sans Pro";
}
.settins-content-block__label {
    margin: 0;
    font-size: 22px;
    color: var(--text-color-1);
    padding: 0 0 0 10px;
}
.settins-content-block__elements {
    display: flex;
    flex-direction: column;
}
.settings-button {
    display: grid;
    grid-template-columns: 0px 1fr 50px;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    text-align: left;
    font-size: 17px;
    background: none;
    transition: .2s ease;
}
.settings-scrollbar {
    position: absolute;
    top: 0;
    left: calc(100% - 5px);
    width: 5px;
    height: 100%;
    z-index: 200;
}
.page-modal-settings-content {
    position: relative;
}
.swiper-scrollbar-drag {
    background: #e7e7e7;
    border-radius: 10px;
}
.settings-button__checkbox {
    display: block;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
}
.settings-button__label {
    margin: 0 20px 0 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color-1);
}
.settings-button__triger {
    position: relative; 
    width: 42px;
    height: 22px;
    border-radius: 20px;
    background: #d3d3d3a4;
    transition: .2s ease;
}
.settings-button__triger::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--bg-color-1);
    transition: .2s ease;
}
.settings-button__checkbox:checked ~ .settings-button__triger {
    background: #889eff;
}
.settings-button__checkbox:checked ~ .settings-button__triger::before {
    transform: translateX(21px);
}
.settings-button:active .settings-button__triger::before {
    transform: scale(1.2);
    box-shadow: 0px 0px 4px #00000041;
}
.settings-button:active .settings-button__checkbox:checked ~ .settings-button__triger::before {
    transform: translateX(21px) scale(1.2);
    box-shadow: 0px 0px 4px #00000041;
}
.settings-select {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.settings-select_label {
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color-1);
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 6px #0000001c;
    background: var(--bg-color-3);
    transition: .2s ease;
}
.select__button {
    padding: 10px 15px;
    margin: 0 20px 0 0;
    border: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background: none;
    color: var(--text-color-1);
    transition: .2s ease;
}
.select__button::after {
    position: absolute;
    left: calc(100% - 33px);
    top: calc(50% - 13px);
    content: "";
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--right-arrow-select-path);
    transition: .2s ease;
    pointer-events: none;
}
.select__button.active::after {
    transform: rotate(90deg);
}
.select:hover,
.select:focus {
    cursor: pointer;
    box-shadow: 0px 0px 14px #0000001f;
}
.select__button:hover {
    cursor: pointer;
}
.select__menu {
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    min-width: 100%;
    width: max-content;
    max-height: 200px;
    left: 0;
    flex-direction: column;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 0px 0px 8px #0000001c;
    background: var(--bg-color-3);
    overflow-x: hidden;
    overflow-y: visible;
    transition: .2s ease;
    box-sizing: border-box;
    z-index: 5;
}
.select__menu::-webkit-scrollbar {
    width: 5px;
    background: none;
}
.select__menu::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 10px;
}
.select__option {
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background: var(--bg-color-3);
    color: var(--text-color-1);
    transition: .2s ease;
}
.select__option:hover,
.select__option:focus {
    cursor: pointer;
    background: var(--bg-color-12);
}
.select__option:active {
    transform: scale(.97);
}
.select__button ~ .select__menu {
    display: flex;
    transform: translateY(-30px);
    opacity: 0;
    pointer-events: none;
}
.select__button.active ~ .select__menu {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}
.page-modal-info-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px 25px 0;
    padding: 0 12px 12px 12px;
    overflow-x: hidden;
    overflow-y: visible;
}
.page-modal-info-content::-webkit-scrollbar {
    width: 8px;
}
.page-modal-info-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scroll-bar-color);
}
.page-modal-info-content::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-color-2);
}
.page-modal-info-content__label {
    margin: 0;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color-1);
    padding: 0 0 0 10px;
}
.page-modal-info-content__label.logo {
    position: relative;
    margin: 0 0 0 28px;
    font-size: 26px;
    font-weight: 700;
}
.page-modal-info-content__label.logo::before {
    position: absolute;
    left: -18px;
    top: 6px;
    content: "";
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../icons/logo/logo.svg");
}
body.night-mode .page-modal-info-content__label.logo::before {
    filter: grayscale(40%);
}
.info-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 0 0;
    font-family: "Sourse Sans Pro", sans-serif;
}
.info-description.links {
    padding: 0 0 0 10px;
}
.info-description>li {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-1);
}
.info-description>li.link {
    list-style-type: none;
}
.info-description>li.link>a {
    position: relative;
    padding: 3px 7px 3px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color-1);
    transition: .2s ease;
}
.info-description>li.link>a::before {
    position: absolute;
    left: 5px;
    top: 4px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.info-description>li.branch>a::before {
    left: 7px;
    background-image: var(--git-icon-path);
}
.info-description>li.mail>a::before {
    background-image: var(--mail-icon-path);
}
.info-description>li.telegram>a::before {
    background-image: var(--telegram-icon-path);
}
.info-description>li.vk>a::before {
    background-image: var(--vk-icon-path);
}
.info-description>li.github>a::before {
    background-image: var(--github-path);
}
.info-description>li.link>a:hover,
.info-description>li.link>a:focus {
    background: var(--bg-color-12);
}
.favorite-towns-content {
    display: grid;
    grid-template-rows: 45px 1fr;
    gap: 25px;
    height: 100%;
}
.favorite-towns-no-towns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.favorite-towns-no-towns.add-animation {
    animation: favorite-towns-no-towns-add .2s ease forwards;
}
.favorite-towns-no-towns.remove-animation {
    animation: favorite-towns-no-towns-remove .2s ease forwards;
}
.favorite-towns-no-towns__label {
    position: relative;
    margin: 60px 0 0 0;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color-1);
}
.favorite-towns-no-towns__label::after {
    position: absolute;
    top: -58px;
    left: calc(50% - 25px);
    content: "";
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--town-icon-path);
}

.favorite-towns__add-button {
    position: relative;
    width: max-content;
    padding: 8px 10px 8px 34px;
    border: none;
    border-radius: 15px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 0px 6px #0000001c;
    color: var(--text-color-1);
    background: var(--bg-color-3);
    transition: .2s ease;

}
.favorite-towns__add-button::after {
    position: absolute;
    content: "+";
    left: 8px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    background: var(--bg-color-10);
}
.favorite-towns__add-button:hover,
.favorite-towns__add-button:focus {
    cursor: pointer;
    box-shadow: 0px 1px 12px #0000001f;
    transform: translateY(-3px);
}
.favorite-towns-add-towns {
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
}
.favorite-towns-add-towns__input {
    min-height: 45px;
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 17px;
    box-shadow: 0px 0px 6px #0000001c;  
    background: var(--bg-color-3);
    color: var(--text-color-1);
    transition: .2s ease;
    box-sizing: border-box;
}
.favorite-towns-add-towns__input:focus {
    box-shadow: 0px 0px 12px #0000001f;
    background: var(--bg-color-15);
}
.favorite-towns-add-towns__button {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 15px;
    outline: none;
    background: var(--bg-color-3);
    box-shadow: 0px 0px 6px #0000001c;
    transform: translateX(100%);
    transition: .2s ease;
    opacity: 0;
}
.favorite-towns-add-towns__button:hover {
    cursor: pointer;
    background: var(--bg-color-15);
}
.favorite-towns-add-towns.active .favorite-towns-add-towns__input {
    width: calc(100% - 60px);
}
.favorite-towns-add-towns.active .favorite-towns-add-towns__button {
    transform: translateX(0%);  
    opacity: 1; 
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__input {
    width: calc(100% - 60px);
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__button {
    transform: translateX(0%);  
    opacity: 1; 
}
.favorite-towns-add-towns__button span {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 2px);
    content: "";
    width: 4px;
    height: 25px;
    border-radius: 10px;
    background: var(--bg-color-13);
    transition: .2s ease;
}
.favorite-towns-add-towns__button .plus-s-1 {
    transform: rotate(90deg);
}
.favorite-towns {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.favorite-town {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-family: "Sourse Sans Pro";
    font-weight: 600;
    text-align: left;
    box-shadow: 0px 0px 6px #0000001c;
    background: var(--bg-color-3);
    color: var(--text-color-1);
    transition: .2s ease;
    animation: favorite-town-add .2S ease forwards;
    overflow: hidden;
}
.favorite-town__name {
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
}
.favorite-town__coords {
    position: relative;
    margin: 0 0 0 23px;
    font-size: 16px;
    pointer-events: none;
}
.favorite-town__coords::before {
    position: absolute;
    content: "";
    left: -23px;
    top: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--location-icon-path);
}
.favorite-town:hover,
.favorite-town:focus {
    cursor: pointer;
    box-shadow: 0px 1px 12px #0000001f;
    transform: translateY(-3px);
}
.favorite-town__name::first-letter {
    text-transform: uppercase;
}
