body {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: center;
    min-height: 100vh;
    margin: 0;
    background: var(--bg-color-2);
    overflow-x: hidden;
}
button, a {
    outline: none;
}
.disactive {
    display: none !important;
}
.header {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    padding: 10px 0;
    box-shadow: 0px 0px 15px #00000015;
    background: var(--bg-color-1);
    z-index: 9;
    transition: transform .3s;
    box-sizing: border-box;
}
.header.scrolled {
    position: fixed;
    min-height: 60px;
    padding: 8px 20px;
    box-shadow: 0px 0px 18px #00000025;
}
.header.scrolled .header-search {
    top: 3px;
    height: 45px;
}
.header.scrolled.top-animation {
    animation: top-animation .2s ease forwards;
}
.header.scrolled.back-animation {
    animation: back-animation .2s ease forwards;
}
.header-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.header-content {
    display: flex;
    align-items: center;
    column-gap: 100px;
    width: 100%;
}
.header-content__main-links {
    display: flex;
    column-gap: 30px;
}
.header-content__label {
    position: relative;
    margin: 0 0 0 28px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--text-color-1);
}
.header-content__label::before {
    position: absolute;
    left: -28px;
    top: 6px;
    content: "";
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../icons/logo/logo.svg");
}
body.night-mode .header-content__label::before {
    filter: grayscale(40%);
}
.header-content__link {
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color-1);
}
.modal-header-search {
    position: relative;
    max-width: 650px;
    width: 100%;
    height: 50px;
}
.header-search {
    position: relative;
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    height: 50px;
    background: var(--bg-color-14);
    border-radius: 8px;
    transition: .2s ease;
    z-index: 10;
}
.header-search--active {
    background: var(--bg-color-15);
    box-shadow: 0px 1px 4px #00000034;
}
body.night-mode .header-search--active {
    box-shadow: 0px 0px 10px #0000001a;
}
.header-search__search-button--conteiner {
    display: flex;
    justify-content: right;
    align-items: center;
}
.header-search__search-button {
    position: relative;
    width: 35px;
    height: 35px;
    background: none;
    border: 1px solid #ffffff00;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: var(--search-icon-path);
    transition: .2s ease;
}
.header-search__search-button:hover,
.header-settings-button:hover,
.header-settings-button:focus,
.menu-burger:hover,
.menu-burger:focus-visible {
    cursor: pointer;
    background-color: var(--bg-color-12);
    border: 1px solid var(--border-color-1);
}
.header-search__search-input {
    height: 40px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 17px;
    background: none;
    color: var(--text-color-5);
}
.header-content__function-menu {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}
.menu-burger {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff00;
    outline: none;
    border-radius: 100%;
    background: none;
    background-size: 28px 28px;
    animation: main-block-add .3s ease;
    transition: background .3s, border .3s, transform .3s, opacity .3s;
}
.main-menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 17px;
    left: calc(100% - 300px);
    background: var(--bg-color-1);
    width: 300px;
    height: 100vh;
    padding: 10px;
    z-index: 20;
    pointer-events: none;
    transform: translateX(300px);
    transition: transform .3s, opacity .3s;
    box-sizing: border-box;
}
.main-menu__label {
    position: relative;
    top: 8px;
    margin: 0px 0 0 45px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: var(--text-color-1);
}
.main-menu__button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: none;
    text-align: left;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-1);
    transition: .2s ease;
    box-sizing: border-box;
}
.main-menu__button:hover,
.main-menu__button:focus {
    cursor: pointer;
    background: var(--bg-color-12);
}
.main-menu__button:active {
    transform: scale(.97);
}
.main-menu__button-name {
    position: relative;
    margin: 0 0 0 30px;
    pointer-events: none;
}
.dark-mode-form__button-name {
    padding: 0 0 0 10px;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color-1);
}
.dark-mode-form {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Sourse Sans Pro", sans-serif;
}
.dark-mode-form label {
    font-size: 17px;
    padding: 3px 7px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--text-color-1);
    transition: .3s ease;
}
.dark-mode-form label:hover {
    cursor: pointer;
}
.dark-mode-form__button-input {
    display: none;
}
.dark-mode-form__theme-select {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-radius: 30px;
    background: #a3a3a32b;
}
.dark-mode-form__button-input:checked + label {
    background: var(--bg-color-1);
}
.main-menu__button-name::before {
    position: absolute;
    content: "";
    top:  2px;
    left: -30px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 21px;
}
.settings-button-menu::before {
    background-image: var(--settings-icon-path);
}
.info-button-menu::before {
    background-image: var(--info-icon-path);
}
.favorite-towns-button-menu::before {
    background-image: var(--heart-icon-path);
}
.latest-towns-button-menu::before {
    background-image: var(--city-icon-path);
}
.main-menu.active {
    pointer-events: all;
    box-shadow: 0px 0px 18px #00000021;
    transform: translateX(0px);
}
.menu-burger {
    position: fixed;
    top: 15px;
    z-index: 300;
}
.menu-burger__burger {
    position: absolute;
    width: calc(100% - 24px);
    left: 16px;
    height: 3px;
    border-radius: 5px;
    background: var(--bg-color-13);
    transition: .2s ease;
}
.menu-burger__burger::before,
.menu-burger__burger::after {
    position: absolute;
    content: "";
    height: 3px;
    border-radius: 5px;
    background: var(--bg-color-13);
    transition: .2s ease;
}
.menu-burger__burger::before {
    width: calc(100% + 5px);
    top: -8px;
    left: -5px;
}
.menu-burger__burger::after {
    width: calc(100% + 7px);
    left: -7px;
    top: 8px;
}
.menu-burger.active .menu-burger__burger {
    background: rgba(0, 0, 0, 0);
    transform: translateX(-10px);
}
.menu-burger.active .menu-burger__burger::before,
.menu-burger.active .menu-burger__burger::after {
    transform: translateX(10px);
    width: calc(100% + 12px);
    left: 0px;
    top: -1px;
}
.menu-burger.active .menu-burger__burger::before {
    transform: rotate(45deg);
}
.menu-burger.active .menu-burger__burger::after {
    transform: rotate(-45deg);
}

.menu-burger.arrow .menu-burger__burger {
    transform: translateX(0px);
    width: 20px;
    top: 19px;
    left: 12px;
}
.menu-burger.arrow .menu-burger__burger::before,
.menu-burger.arrow .menu-burger__burger::after {
    transform: translateX(10px);
    width: calc(100% - 4px);
    left: 0px;
    top: 0px;
}
.menu-burger.arrow .menu-burger__burger::before {
    transform: rotate(45deg);
}
.menu-burger.arrow .menu-burger__burger::after {
    transform: rotate(-45deg);
}
.menu-burger.arrow .menu-burger__burger::before {
    top: 5px;
    left: -5px;
}
.menu-burger.arrow .menu-burger__burger::after {
    top: -5px;
    left: -5px;
}
.main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 25px;
    max-width: 1440px;
    width: 100%;
    margin: 70px 0 0 0;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: .3s;
}
.main-menu--conteiner {
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.first-content {
    display: grid;
    grid-template-columns: 520px 1fr;
    grid-gap: 25px;
}
.main-content-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 25px
}
.weather-main {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 5px 14px #00000018;
    overflow: hidden;
    background: var(--gradient-1);
}
.weather-main__text {
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-2);
}
.weather-main__label,
.hourly-forecast__label {
    padding: 0;
    margin: 0;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 22px;
    color: var(--text-color-2);
}
.weather-main__label {
    display: flex;
    gap: 5px;
}
.weather-main__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;
}
.weather-main__temp {
    display: flex;
    align-items: flex-start;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    color: var(--text-color-2);
}
.weather-main__temp-block {
    position: relative;
    margin: 0 40px 0 0;
}
.weather-main__temp-block::after {
    position: absolute;
    content: "°C";
}
.weather-main__status {
    position: relative;
    margin: 0 0 0 65px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    color: var(--text-color-2);
}
.weather-main__status-block {
    display: block;
}
.weather-main__status-block::first-letter {
    text-transform: uppercase;
}
.weather-main__self-temp {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-3);
}
.weather-main__self-temp-block {
    position: relative;
    margin: 0 20px 0 0;
}
.weather-main__self-temp-block::after {
    position: absolute;
    content: "°C";
}
.weather-main__second-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 10px;
    width: 100%;
}
.weather-main__wind,
.weather-main__humidity,
.weather-main__pressure,
.day-card__wind,
.day-card__humidity {
    display: flex;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-2);
}
.weather-main__wind-block,
.weather-main__humidity-block,
.weather-main__pressure-block,
.day-card__wind-block,
.day-card__humidity-block {
    position: relative;
    margin: 0 0 0 23px;
}
.weather-main__wind-block::before,
.weather-main__humidity-block::before,
.weather-main__pressure-block::before,
.day-card__wind-block::before,
.day-card__humidity-block::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -23px;
    top: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.weather-main__wind-block::before,
.day-card__wind-block::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E %3Cg fill=%22%23FFF%22 fill-rule=%22nonzero%22%3E %3Cpath d=%22M6 11.5h5.688a3.75 3.75 0 1 0-1.95-6.954.75.75 0 0 0 .781 1.28A2.25 2.25 0 1 1 11.688 10L6 10.001a.75.75 0 1 0 0 1.5zM2 15h9.966a1.5 1.5 0 1 1-.779 2.782.75.75 0 0 0-.78 1.281 3 3 0 1 0 1.56-5.563H1.999A.75.75 0 1 0 2 15zM16.667 13h2.251a3 3 0 1 0-1.56-5.563.75.75 0 0 0 .781 1.28 1.5 1.5 0 1 1 .779 2.782l-2.251.001a.75.75 0 1 0 0 1.5z%22/%3E %3C/g%3E %3C/svg%3E");
}
.weather-main__humidity-block::before,
.day-card__humidity-block::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5487 8.0001C16.7829 6.74175 15.1271 4.67011 12.5637 1.75476C12.2645 1.41448 11.7342 1.41518 11.4359 1.75625C8.88065 4.67783 7.22597 6.74805 6.45489 7.99571C3.91532 12.1049 3.72409 15.9389 6.56528 18.751C9.63862 21.793 14.3621 21.792 17.4355 18.7512C20.2743 15.9425 20.0858 12.169 17.5487 8.0001ZM7.73087 8.78429C8.39019 7.71747 9.8183 5.91206 12.0019 3.39071C14.1889 5.90415 15.6153 7.70851 16.2673 8.77991C18.4829 12.4205 18.6344 15.4548 16.3805 17.6849C13.8915 20.1475 10.1092 20.1483 7.62047 17.685C5.36463 15.4522 5.51867 12.3638 7.73087 8.78429Z%22 fill=%22white%22/%3E %3Cpath d=%22M12.7366 17.2967C14.3588 16.7579 15.4749 15.2362 15.4749 13.5C15.4749 13.0858 15.1391 12.75 14.7249 12.75C14.3107 12.75 13.9749 13.0858 13.9749 13.5C13.9749 14.5852 13.277 15.5366 12.2638 15.8732C11.8707 16.0038 11.6579 16.4283 11.7884 16.8214C11.919 17.2145 12.3436 17.4273 12.7366 17.2967Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
}
.weather-main__pressure-block::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath d=%22M14.1314 2.22778C14.5361 2.31569 14.793 2.71509 14.7051 3.11986C14.6172 3.52464 14.2178 3.78152 13.813 3.69362C13.2222 3.56532 12.6156 3.5 12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 11.4103 20.4401 10.8289 20.3222 10.2616C20.238 9.85608 20.4985 9.45902 20.904 9.37478C21.3096 9.29054 21.7067 9.55101 21.7909 9.95657C21.9295 10.624 22 11.3077 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.7228 2 13.4361 2.07681 14.1314 2.22778Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M13.348 10.6533C13.6409 10.9461 14.1158 10.946 14.4086 10.6531L18.0304 7.03025C18.3233 6.73732 18.3232 6.26244 18.0303 5.96959C17.7373 5.67674 17.2624 5.67681 16.9696 5.96975L13.3478 9.59259C13.055 9.88553 13.055 10.3604 13.348 10.6533ZM8.21961 15.7803C8.51248 16.0732 8.98735 16.0732 9.28028 15.7804L10.5308 14.5301C10.8237 14.2373 10.8238 13.7624 10.5309 13.4695C10.238 13.1766 9.76315 13.1765 9.47023 13.4694L8.21972 14.7196C7.9268 15.0125 7.92675 15.4874 8.21961 15.7803Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M14.75 5.75C14.75 5.33579 15.0858 5 15.5 5H18.25C18.6642 5 19 5.33579 19 5.75C19 6.16421 18.6642 6.5 18.25 6.5H15.5C15.0858 6.5 14.75 6.16421 14.75 5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5 5.75C17.5 5.33579 17.8358 5 18.25 5C18.6642 5 19 5.33579 19 5.75V8.5C19 8.91421 18.6642 9.25 18.25 9.25C17.8358 9.25 17.5 8.91421 17.5 8.5V5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12ZM13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
}
.weather-main__wind-block::after,
.weather-main__humidity-block::after,
.weather-main__pressure-block::after,
.day-card__wind-block::after,
.day-card__humidity-block::after {
    position: absolute;
    content: "";
    top: 2px;
    font-size: 16px;
    color: var(--text-color-3);
}
.weather-main__wind-block::after,
.day-card__wind-block::after {
    width: 30px;
    content: "м/с";
}
.weather-main__humidity-block::after,
.day-card__humidity-block::after {
    width: 20px;
    content: "%";
}
.weather-main__pressure-block::after {
    width: 100px;
    content: "мм. рс. ст.";
}
.weather-main__wind-block {
    margin-right: 28px;
}
.weather-main__humidity-block {
    margin-right: 15px;
}
.weather-main__pressure-block {
    margin-right: 73px;
}
.hourly-forecast {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 5px 14px #00000018;
    overflow: hidden;
    background: var(--gradient-2);
}
.hourly-forecast__slider {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-column-gap: 10px;
    height: 100px;
}
.hourly-forecast__slider-block {
    position: relative;
    overflow: hidden;
}
.hourly-forecast__slider-content {
    position: absolute;
    display: flex;
    height: 100%;
}
.hourly-forecast__right-button,
.hourly-forecast__left-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hourly-forecast__right-button-view,
.hourly-forecast__left-button-view {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bg-color-6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    transition: .3s ease;
}
.swiper-button-disabled {
    pointer-events: none;
}
.swiper-button-disabled .hourly-forecast__right-button-view,
.swiper-button-disabled .hourly-forecast__left-button-view {
    opacity: .6;
}
.hourly-forecast__right-button:hover .hourly-forecast__right-button-view,
.hourly-forecast__right-button:focus-visible  .hourly-forecast__right-button-view {
    transform: translateX(2px);
    background-color: var(--bg-color-7);
}
.hourly-forecast__right-button:hover.swiper-button-disabled .hourly-forecast__right-button-view,
.hourly-forecast__right-button:focus-visible.swiper-button-disabled .hourly-forecast__right-button-view {
    transform: translateX(0px);
    background-color: var(--bg-color-6);
}
.hourly-forecast__left-button:hover .hourly-forecast__left-button-view,
.hourly-forecast__left-button:focus-visible  .hourly-forecast__left-button-view {
    transform: translateX(-2px);
    background-color: var(--bg-color-7);
}
.hourly-forecast__left-button:hover.swiper-button-disabled .hourly-forecast__left-button-view,
.hourly-forecast__left-button:focus-visible.swiper-button-disabled .hourly-forecast__left-button-view {
    transform: translateX(0px);
    background-color: var(--bg-color-6);
}
.hourly-forecast__left-button-view {
    background-image: var(--left-arrow-icon-path);
}
.hourly-forecast__right-button-view {
    background-image: var(--right-arrow-icon-path);
}
.slider-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
}
.slider-date {  
    position: absolute;
    top: 5px;
    left: -32px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: var(--text-color-3);
}
.slider-block.new-day {
    margin-left: 30px;
}
.slider-block.new-day::after {
    position: absolute;
    top: 25px;
    left: -20px;
    content: "";
    width: 1px;
    height: calc(100% - 30px);
    background: var(--bg-color-8);
}
.slider-block__time {
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color-3);
}
.slider-block__time.h12 {
    position: relative;
    top: 5px;
    font-size: 12px;
}
.slider-block__temp-block {
    display: flex;
    justify-content: center;
}
.slider-block__temp {
    position: relative;
    left: -5px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-2);
}
.slider-block__temp::after {
    position: absolute;
    content: "°C";
}
.weather-main__staus-icon {
    position: absolute;
    left: -75px;
    top: -15px;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}
.slider-block__status-icon {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.seven-day-forast-short {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    row-gap: 5px;
    height: 100%;
    min-height: 284px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 5px 14px #00000018;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--gradient-3);
}
.seven-day-forast-short__label {
    padding: 0;
    margin: 0;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #ffffffe7;
}
.seven-day-forecast-short__content {
    position: relative;
    height: 100%;
}
.seven-day-forecast-short__slider {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.day-card {
    display: flex;
    flex-direction: column;
    width: 116px;
    height: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    color: var(--text-color-2);
    transition: .2s ease;
    box-sizing: border-box;
}
.day-card:hover,
.day-card:focus {
    cursor: pointer;
    background: #ffffff0c;
    border: 2px solid #ffffff1a;
    box-shadow: 0px 0px 14px #00000018;
}
.day-card__label--conteiner {
    display: flex;
    flex-direction: column;
}
.day-card__label {
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.day-card__date {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-3);
}
.day-card__weather-icon {
    position: relative;
    left: -6px;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
.day-card__temp-block {
    display: flex;
    font-size: 19px;
    font-weight: 700;
}
.day-card__second-block {
    display: flex;
    flex-direction: column;
}
.day-card__main-info {
    margin: 5px 0;
}
.day-card__temp {
    position: relative;
}
.day-card__temp::after {
    position: absolute;
    content: "°C";
}
.second-main-info-block {
    display: grid;
    grid-template-columns: 1fr 155px;
    grid-template-rows: min-content auto;
    gap: 25px;
    height: 100%;
}
.main-info-block-add-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.sinrise-sunset,
.temp-yesterday {
    padding: 12px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 2px 8px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: var(--text-color-1);
}
.sinrise-sunset {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    width: 100%;
    background: var(--bg-color-1);
}
.sinrise-sunset::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 5px;
    width: .5px;
    height: calc(100% - 10px);
    background: var(--bg-color-9);
}
.temp-yesterday {
    display: flex;
    column-gap: 5px;
    white-space: nowrap;
}
.sinrise-sunset__sunrise,
.sinrise-sunset__sunset {
    position: relative;
    padding: 0 0 0 40px;
}
.sinrise-sunset__sunrise-icon,
.sinrise-sunset__sunset-icon {
    position: absolute;
    left: -3px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.sinrise-sunset__sunrise-icon {
    top: -8px;
    background-image: var(--sunrise-icon-path);
    background-size: 25px 25px;
}
.sinrise-sunset__sunset-icon {
    top: -5px;
    background-image: var(--sunset-icon-path);
    background-size: 25px 25px;
}
.temp-yesterday__temp {
    margin: 0 20px 0 0;
}
.temp-yesterday__temp::after {
    position: absolute;
    content: "°C";
}
.seven-days-foracast-ditails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.day-info-block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #00000018;
    background: var(--bg-color-1);
}
.js-scroll.not-scrolled {
    visibility: hidden;
}
.js-scroll.scrolled {
    animation: info-block-add .3s ease forwards;
    visibility: visible;
}
.info-name-block {
    margin: 0;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: var(--text-color-1);
}
.info-name-block__day-info {
    width: max-content;
    padding: 3px 10px;
    border-radius: 15px;
    background: var(--bg-color-4);
}
.info-name-block__week-day {
    display: block;
}
.weather-main__town {
    display: block;
}
.info-name-block__week-day::first-letter,
.day-card__status::first-letter,
.day-card__label::first-letter,
.weather-main__town::first-letter {
    text-transform: uppercase;
}
.day-info-block-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
}
.day-info-block-content__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}
.day-info-block-day-time {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.day-info-block-day-time {
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    color: var(--text-color-1);
}
.day-info-block-day-time__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3px;
}
.day-info-block-day-time__info-block-1 {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    font-weight: 700;
}
.day-info-block-day-time__info-block-2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    width: 100%;
    max-width: 450px;
    font-size: 18px;
    font-weight: 600;
}
.day-info-block-day-time__label {
    font-weight: 700;
    font-size: 20px;
}
.day-info-block-day-time__temp {
    position: relative;
    margin: 0 20px 0 0;
}
.day-info-block-day-time__temp::after {
    position: absolute;
    content: "°C";
}
.day-info-block-day-time__status {
    position: relative;
    margin: 0 0 0 30px;
}
.day-info-block-day-time__status::first-letter {
    text-transform: uppercase;
}
.day-info-block-day-time__icon {
    position: absolute;
    width: 45px;
    height: 45px;
    left: -49px;
    top: -11px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.day-info-block-day-time__wind,
.day-info-block-day-time__humidity,
.day-info-block-day-time__pressure {
    position: relative;
    margin: 0 0 0 23px;
}
.day-info-block-day-time__wind::before,
.day-info-block-day-time__humidity::before,
.day-info-block-day-time__pressure::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -23px;
    top: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.day-info-block-day-time__wind::before {
    opacity: .78;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E %3Cg fill=%22black%22 fill-rule=%22nonzero%22%3E %3Cpath d=%22M6 11.5h5.688a3.75 3.75 0 1 0-1.95-6.954.75.75 0 0 0 .781 1.28A2.25 2.25 0 1 1 11.688 10L6 10.001a.75.75 0 1 0 0 1.5zM2 15h9.966a1.5 1.5 0 1 1-.779 2.782.75.75 0 0 0-.78 1.281 3 3 0 1 0 1.56-5.563H1.999A.75.75 0 1 0 2 15zM16.667 13h2.251a3 3 0 1 0-1.56-5.563.75.75 0 0 0 .781 1.28 1.5 1.5 0 1 1 .779 2.782l-2.251.001a.75.75 0 1 0 0 1.5z%22/%3E %3C/g%3E %3C/svg%3E");
}
.day-info-block-day-time__humidity::before {
    opacity: .7;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5487 8.0001C16.7829 6.74175 15.1271 4.67011 12.5637 1.75476C12.2645 1.41448 11.7342 1.41518 11.4359 1.75625C8.88065 4.67783 7.22597 6.74805 6.45489 7.99571C3.91532 12.1049 3.72409 15.9389 6.56528 18.751C9.63862 21.793 14.3621 21.792 17.4355 18.7512C20.2743 15.9425 20.0858 12.169 17.5487 8.0001ZM7.73087 8.78429C8.39019 7.71747 9.8183 5.91206 12.0019 3.39071C14.1889 5.90415 15.6153 7.70851 16.2673 8.77991C18.4829 12.4205 18.6344 15.4548 16.3805 17.6849C13.8915 20.1475 10.1092 20.1483 7.62047 17.685C5.36463 15.4522 5.51867 12.3638 7.73087 8.78429Z%22 fill=%22black%22/%3E %3Cpath d=%22M12.7366 17.2967C14.3588 16.7579 15.4749 15.2362 15.4749 13.5C15.4749 13.0858 15.1391 12.75 14.7249 12.75C14.3107 12.75 13.9749 13.0858 13.9749 13.5C13.9749 14.5852 13.277 15.5366 12.2638 15.8732C11.8707 16.0038 11.6579 16.4283 11.7884 16.8214C11.919 17.2145 12.3436 17.4273 12.7366 17.2967Z%22 fill=%22black%22/%3E %3C/g%3E %3C/svg%3E");
}
.day-info-block-day-time__pressure::before {
    opacity: .7;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath d=%22M14.1314 2.22778C14.5361 2.31569 14.793 2.71509 14.7051 3.11986C14.6172 3.52464 14.2178 3.78152 13.813 3.69362C13.2222 3.56532 12.6156 3.5 12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 11.4103 20.4401 10.8289 20.3222 10.2616C20.238 9.85608 20.4985 9.45902 20.904 9.37478C21.3096 9.29054 21.7067 9.55101 21.7909 9.95657C21.9295 10.624 22 11.3077 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.7228 2 13.4361 2.07681 14.1314 2.22778Z%22 fill=%22black%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M13.348 10.6533C13.6409 10.9461 14.1158 10.946 14.4086 10.6531L18.0304 7.03025C18.3233 6.73732 18.3232 6.26244 18.0303 5.96959C17.7373 5.67674 17.2624 5.67681 16.9696 5.96975L13.3478 9.59259C13.055 9.88553 13.055 10.3604 13.348 10.6533ZM8.21961 15.7803C8.51248 16.0732 8.98735 16.0732 9.28028 15.7804L10.5308 14.5301C10.8237 14.2373 10.8238 13.7624 10.5309 13.4695C10.238 13.1766 9.76315 13.1765 9.47023 13.4694L8.21972 14.7196C7.9268 15.0125 7.92675 15.4874 8.21961 15.7803Z%22 fill=%22black%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M14.75 5.75C14.75 5.33579 15.0858 5 15.5 5H18.25C18.6642 5 19 5.33579 19 5.75C19 6.16421 18.6642 6.5 18.25 6.5H15.5C15.0858 6.5 14.75 6.16421 14.75 5.75Z%22 fill=%22black%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5 5.75C17.5 5.33579 17.8358 5 18.25 5C18.6642 5 19 5.33579 19 5.75V8.5C19 8.91421 18.6642 9.25 18.25 9.25C17.8358 9.25 17.5 8.91421 17.5 8.5V5.75Z%22 fill=%22black%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12ZM13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z%22 fill=%22black%22/%3E %3C/g%3E %3C/svg%3E");
}
body.night-mode .day-info-block-day-time__wind::before {
    opacity: .78;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E %3Cg fill=%22white%22 fill-rule=%22nonzero%22%3E %3Cpath d=%22M6 11.5h5.688a3.75 3.75 0 1 0-1.95-6.954.75.75 0 0 0 .781 1.28A2.25 2.25 0 1 1 11.688 10L6 10.001a.75.75 0 1 0 0 1.5zM2 15h9.966a1.5 1.5 0 1 1-.779 2.782.75.75 0 0 0-.78 1.281 3 3 0 1 0 1.56-5.563H1.999A.75.75 0 1 0 2 15zM16.667 13h2.251a3 3 0 1 0-1.56-5.563.75.75 0 0 0 .781 1.28 1.5 1.5 0 1 1 .779 2.782l-2.251.001a.75.75 0 1 0 0 1.5z%22/%3E %3C/g%3E %3C/svg%3E");
}
body.night-mode .day-info-block-day-time__humidity::before {
    opacity: .7;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5487 8.0001C16.7829 6.74175 15.1271 4.67011 12.5637 1.75476C12.2645 1.41448 11.7342 1.41518 11.4359 1.75625C8.88065 4.67783 7.22597 6.74805 6.45489 7.99571C3.91532 12.1049 3.72409 15.9389 6.56528 18.751C9.63862 21.793 14.3621 21.792 17.4355 18.7512C20.2743 15.9425 20.0858 12.169 17.5487 8.0001ZM7.73087 8.78429C8.39019 7.71747 9.8183 5.91206 12.0019 3.39071C14.1889 5.90415 15.6153 7.70851 16.2673 8.77991C18.4829 12.4205 18.6344 15.4548 16.3805 17.6849C13.8915 20.1475 10.1092 20.1483 7.62047 17.685C5.36463 15.4522 5.51867 12.3638 7.73087 8.78429Z%22 fill=%22white%22/%3E %3Cpath d=%22M12.7366 17.2967C14.3588 16.7579 15.4749 15.2362 15.4749 13.5C15.4749 13.0858 15.1391 12.75 14.7249 12.75C14.3107 12.75 13.9749 13.0858 13.9749 13.5C13.9749 14.5852 13.277 15.5366 12.2638 15.8732C11.8707 16.0038 11.6579 16.4283 11.7884 16.8214C11.919 17.2145 12.3436 17.4273 12.7366 17.2967Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
}
body.night-mode .day-info-block-day-time__pressure::before {
    opacity: .7;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath d=%22M14.1314 2.22778C14.5361 2.31569 14.793 2.71509 14.7051 3.11986C14.6172 3.52464 14.2178 3.78152 13.813 3.69362C13.2222 3.56532 12.6156 3.5 12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 11.4103 20.4401 10.8289 20.3222 10.2616C20.238 9.85608 20.4985 9.45902 20.904 9.37478C21.3096 9.29054 21.7067 9.55101 21.7909 9.95657C21.9295 10.624 22 11.3077 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.7228 2 13.4361 2.07681 14.1314 2.22778Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M13.348 10.6533C13.6409 10.9461 14.1158 10.946 14.4086 10.6531L18.0304 7.03025C18.3233 6.73732 18.3232 6.26244 18.0303 5.96959C17.7373 5.67674 17.2624 5.67681 16.9696 5.96975L13.3478 9.59259C13.055 9.88553 13.055 10.3604 13.348 10.6533ZM8.21961 15.7803C8.51248 16.0732 8.98735 16.0732 9.28028 15.7804L10.5308 14.5301C10.8237 14.2373 10.8238 13.7624 10.5309 13.4695C10.238 13.1766 9.76315 13.1765 9.47023 13.4694L8.21972 14.7196C7.9268 15.0125 7.92675 15.4874 8.21961 15.7803Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M14.75 5.75C14.75 5.33579 15.0858 5 15.5 5H18.25C18.6642 5 19 5.33579 19 5.75C19 6.16421 18.6642 6.5 18.25 6.5H15.5C15.0858 6.5 14.75 6.16421 14.75 5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5 5.75C17.5 5.33579 17.8358 5 18.25 5C18.6642 5 19 5.33579 19 5.75V8.5C19 8.91421 18.6642 9.25 18.25 9.25C17.8358 9.25 17.5 8.91421 17.5 8.5V5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12ZM13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
}
.day-info-block-day-time__wind::after,
.day-info-block-day-time__humidity::after,
.day-info-block-day-time__pressure::after  {
    position: absolute;
    content: "";
    top: 2px;
    font-size: 16px;
    color: var(--text-color-6);
}
.day-info-block-day-time__wind::after {
    content: "м/с";
    width: 28px;
}
.day-info-block-day-time__humidity::after {
    content: "%";
    width: 15px;
}
.day-info-block-day-time__pressure::after {
    content: "мм. рс. ст.";
    width: 75px;
}
.day-info-block-day-time__wind {
    margin-right: 28px;
}
.day-info-block-day-time__humidity {
    margin-right: 15px;
}
.day-info-block-day-time__pressure {
    margin-right: 75px;
}
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 0px 15px #00000015;
    background: var(--bg-color-1);
    box-sizing: border-box;
    transition: .3s ease, background 0ms;
    z-index: 5;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.weather-ditails {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 12px;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 9%) 0px 5px 10px;
    background: var(--bg-color-1);
    box-sizing: border-box;
}
.weather-ditails::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 1px;
    width: calc(100% - 40px);
    border-radius: 25px;
    background: var(--bg-color-9);
}
.weather-ditails__info {
    display: grid;
    grid-template-rows: min-content 80px;
    gap: 12px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
}
.weather-ditails__label {
    color: var(--text-color-7);
    font-size: 16px;
    text-align: center;
}
.weather-ditails__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.weather-ditails__content svg {
    position: absolute;
    width: 120px;
    height: 120px;
    overflow: visible;
    transform: rotate(-90deg);
}
.weather-ditails__content svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: var(--stroke-color-1);
    stroke-width: 5;
    stroke-linecap: round;
    transform: translateY(calc(50% - 1px));
}
.weather-ditails__content svg circle:nth-child(2) {
    stroke: var(--stroke-color-2);
    stroke-dasharray: 0 400;
}
.weather-ditails__data {
    position: relative;
    margin: 0 18px 0 0;
    font-size: 22px;
    color: var(--text-color-1);
}
.weather-ditails__data::after {
    position: absolute;
    top: 4px;
    content: "%";
    font-size: 18px;
}
.loading-animation--conteiner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: info-block-add .3s ease;
    z-index: 5;
}
.loading-animation {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 8px;
    background: var(--bg-color-1);
}
.loading-animation .animation {
    top: 5px;
    left: 5px;
}
.error-notification {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow-x: hidden;
    overflow-y: visible;
    animation: info-block-add .3s ease forwards;
}
.error-notification::-webkit-scrollbar {
    display: none;
}
.error-notification
.error-notification__label {
    position: relative;
    max-width: 400px;
    margin: 90px 0 0 0;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    color: var(--text-color-1);
}
.error-notification__label::before {
    position: absolute;
    content: "";
    left: calc(50% - 35px);
    top: -70px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}
.error-notification.geolocation .error-notification__label::before {
    background-image: var(--location-not-found-path);
}
.error-notification.not-found .error-notification__label::before {
    top: -80px;
    width: 130px;
    height: 130px;
    background-image: var(--not-found-icon-path);
}
.error-notification__button {
    position: relative;
    padding: 5px 15px 5px 33px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    background: var(--bg-color-1);
    box-shadow: 0px 2px 8px #00000020;
    color: var(--text-color-1);
    transition: .2s ease;
}
.error-notification__button::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}
.error-notification__button.search::before {
    left: 10px;
    top: 9px;
    width: 15px;
    height: 15px;
    background-image: var(--search-icon-path);
}
.error-notification__button.location::before {
    left: 7px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-image: var(--location-icon-path);
}
.error-notification__button.location {
    padding-left: 30px;
}
.error-notification__button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 12px #0000001b;
    transform: translateY(-3px);
}
.footer-link {
    display: block;
    margin: 0;
    padding: 2px 4px;
    border-radius: 10px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color-1);
    transition: .2s ease;
    box-sizing: border-box;
}
.footer-link:hover,
.footer-link:focus {
    background: var(--bg-color-5);
}
.footer-link.github,
.footer-link.data {
    position: relative;
    padding: 3px 7px 3px 26px;
}
.footer-link.data {
    padding: 3px 7px 3px 28px;   
}
.footer-link.github::before,
.footer-link.data::before {
    position: absolute;
    content: "";
    top: 4px;
    width: 17px;
    height: 17px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.footer-link.github::before {
    left: 5px;
    background-image: var(--github-path);
}
.footer-link.data::before {
    top: 5px;
    left: 6px;
    background-image: var(--cloud-path);
}
.weather-main__temp-block.c::after,
.day-card__temp.c::after,
.slider-block__temp.c::after,
.day-info-block-day-time__temp.c::after,
.weather-main__self-temp-block.c::after {
    content: "°C";
}
.weather-main__temp-block.f::after,
.day-card__temp.f::after,
.slider-block__temp.f::after,
.day-info-block-day-time__temp.f::after,
.weather-main__self-temp-block.f::after {
    content: "°F";
}
.weather-main__temp-block.k::after,
.day-card__temp.k::after,
.slider-block__temp.k::after,
.day-info-block-day-time__temp.k::after,
.weather-main__self-temp-block.k::after {
    left: 110%;
    content: "K";
}
.weather-main__wind-block.mps::after,
.day-card__wind-block.mps::after,
.day-info-block-day-time__wind.mps::after {
    content: "м/с";
}
.weather-main__wind-block.kmph::after,
.day-card__wind-block.kmph::after,
.day-info-block-day-time__wind.kmph::after {
    content: "км/ч";
    width: 40px;
}
.weather-main__wind-block.milph::after,
.day-card__wind-block.milph::after,
.day-info-block-day-time__wind.milph::after {
    content: "мл/ч";
    width: 40px;
}
.weather-main__wind-block.kmph,
.day-card__wind-block.kmph,
.day-info-block-day-time__wind.kmph,
.weather-main__wind-block.milph,
.day-card__wind-block.milph,
.day-info-block-day-time__wind.milph {
    margin-right: 40px;
}
.weather-main__pressure-block.mm-rt::after,
.day-info-block-day-time__pressure.mm-rt::after {
    content: "мм. рс. ст.";
}
.weather-main__pressure-block.hpa::after,
.day-info-block-day-time__pressure.hpa::after {
    content: "гПа";
}
.weather-main__pressure-block.hpa,
.day-info-block-day-time__pressure.hpa {
    margin-right: 30px;
}
.header-search-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: calc(100% - 10px);
    width: 100%;
    max-height: 300px;
    padding: 20px 0 12px 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 10px #00000029;
    background: var(--bg-color-1);
    box-sizing: border-box;
    overflow-y: visible;
    overflow-x: hidden;
    z-index: -2;
    transition: .15s ease;
}
.header-search-modal.disable {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}
.modal-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Sourse Sans Pro";
    font-weight: 500;
    color: var(--text-color-1);
}
.modal-block__label {
    margin: 0 0 0 15px;
    text-transform: uppercase;
    font-size: 14px;
}
.modal-block__content {
    display: flex;
    flex-direction: column;
}
.modal-block__recommend-button {
    margin: 0;
    padding: 10px 15px;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-1);
    background: var(--bg-color-1);
    transition: .2s ease;
}
.modal-block__recommend-button::first-letter {
    text-transform: uppercase;
}
.modal-block__recommend-button:hover {
    cursor: pointer;
    background: var(--bg-color-14);
}
.info-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 15px;
    background: var(--bg-color-15);
    box-shadow: 0px 0px 10px #00000018;
    z-index: 300;
}
.info-menu::after {
    position: absolute;
    content: "";
}
.info-menu.top {
    animation: modal-menu-top .2s ease forwards;
}
.info-menu.top::after {
    top: -9px;
    left: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--bg-color-15);
}
.info-menu.bottom {
    animation: modal-menu-bottom .2s ease forwards;
}
.info-menu.bottom::after {
    top: calc(100%);
    left: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bg-color-15);
}
.info-menu.remove-top {
    animation: modal-menu-remove-top .2s ease forwards;
}
.info-menu.remove-bottom {
    animation: modal-menu-remove-bottom .2s ease forwards;
}
.info-menu__button {
    position: relative;
    padding: 5px 8px 5px 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    text-align: left;
    color: var(--text-color-1);
    background: none;
    transition: .2s ease;
}
.info-menu__button::after {
    position: absolute;
    content: "";
    left: 8px;
    top: 8px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}
.info-menu__button#info-del-button::after {
    background-image: var(--delete-icon-path);
    width: 16px;
    height: 16px;
}
.info-menu__button#info-search-button::after {
    background-image: var(--search-icon-path);
}
.info-menu__button:hover,
.info-menu__button:focus {
    cursor: pointer;
    background: var(--bg-color-14);
}

@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../fonts/sourse_sans_pro/SourceSansPro-ExtraLight.ttf"),;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../fonts/sourse_sans_pro/SourceSansPro-Light.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../fonts/sourse_sans_pro/SourceSansPro-Regular.ttf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../fonts/sourse_sans_pro/SourceSansPro-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../fonts/sourse_sans_pro/SourceSansPro-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../fonts/sourse_sans_pro/SourceSansPro-Bold.ttf");
    font-weight: 800;
    font-display: swap;
}
